{% load custom_tags_and_filters %}
{% load tz %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if mso]><table width="600" align="center"><tr><td><![endif]-->
        <table align="center"
               style="width:100%;
                      max-width:600px;
                      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'">
            <tr>
                <td align="center"
                    style="color: white;
                           background: {{ template_color }};
                           padding: 50px 0"
                    bgcolor="{{ template_color }}">
                    <h1 style="max-width: 90%; margin: 0 auto; padding: 0;">ADJUSTMENT REQUEST {{ status|upper }}</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    <p>
                        Dear
                        {% if user_office %}
                            User Office,
                        {% else %}
                            {{ adjustment_request.creator.first_name }},
                        {% endif %}
                    </p>
                    <p>
                        {% if user_office %}
                            The following
                        {% else %}
                            Your
                        {% endif %}
                        adjustment request has been
                        {% if adjustment_request.creator != adjustment_request.last_updated_by %}
                            {{ status }} by {{ adjustment_request.last_updated_by.get_name }}.
                        {% else %}
                            {{ status }}.
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    {% if manager_note %}<p>{{ manager_note }}</p>{% endif %}
                    <p>
                        Request details:
                        {% if adjustment_request.has_item_changes %}
                            <br>
                            <u>Charge</u>: {{ adjustment_request.item.get_display }}
                            <br>
                            <br>
                            <u>{{ adjustment_request.changes_status|capfirst }}:</u>
                            <br>
                            {% if adjustment_request.waive %}
                                <strong>
                                    {% if adjustment_request.applied %}
                                        This charge was waived
                                    {% else %}
                                        {{ adjustment_request.creator.get_name }} has requested that this charge be waived
                                    {% endif %}
                                </strong>
                            {% else %}
                                {% if adjustment_request.new_start or adjustment_request.new_end %}
                                    <strong style="width: 90px; display: inline-block;"><u>Start Time:</u></strong>
                                    {% if not adjustment_request.new_start %}
                                        {{ adjustment_request.get_original_start|date:"SHORT_DATETIME_FORMAT" }} (unchanged)
                                    {% else %}
                                        {% if adjustment_request.get_original_start %}
                                            <del>{{ adjustment_request.get_original_start|date:"SHORT_DATETIME_FORMAT" }}</del>
                                        {% endif %}
                                        ->
                                        {{ adjustment_request.new_start|date:"SHORT_DATETIME_FORMAT" }}
                                    {% endif %}
                                    <br>
                                    <strong style="width: 90px; display: inline-block;"><u>End Time:</u></strong>
                                    {% if not adjustment_request.new_end %}
                                        {{ adjustment_request.get_original_end|date:"SHORT_DATETIME_FORMAT" }} (unchanged)
                                    {% else %}
                                        {% if adjustment_request.get_original_end %}
                                            <del>{{ adjustment_request.get_original_end|date:"SHORT_DATETIME_FORMAT" }}</del>
                                        {% endif %}
                                        ->
                                        {{ adjustment_request.new_end|date:"SHORT_DATETIME_FORMAT" }}
                                    {% endif %}
                                    {% if adjustment_request.get_time_difference %}
                                        <br>
                                        <strong style="width: 90px; display: inline-block;"><u>Difference:</u></strong>
                                        <span>{{ adjustment_request.get_time_difference }}</span>
                                    {% endif %}
                                {% endif %}
                                {% if adjustment_request.new_quantity is not None %}
                                    <br>
                                    <strong style="width: 90px; display: inline-block;"><u>Quantity:</u></strong>
                                    {% if adjustment_request.get_original_quantity is not None %}
                                        <del>
                                            {{ adjustment_request.get_original_quantity }}
                                        </del>
                                    {% endif %}
                                    ->
                                    {{ adjustment_request.new_quantity }}
                                    {% if adjustment_request.get_quantity_difference %}
                                        <span>({{ adjustment_request.get_quantity_difference }})</span>
                                    {% endif %}
                                {% endif %}
                                {% if adjustment_request.new_project %}
                                    <br>
                                    <strong style="width: 90px; display: inline-block;"><u>Project:</u></strong>
                                    {% if adjustment_request.get_original_project %}<del>{{ adjustment_request.get_original_project }}</del>{% endif %}
                                    ->
                                    {{ adjustment_request.new_project }}
                                {% endif %}
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if adjustment_request.description %}
                            <br>
                            <u>Description</u>:
                            <br>
                            {{ adjustment_request.description|linebreaksbr }}
                        {% endif %}
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    Visit the <a href="{{ adjustment_request_url }}">{{ site_title }} adjustment requests page</a> for more information.
                    <br />
                </td>
            </tr>
        </table>
        <!--[if mso]></td></tr></table><![endif]-->
    </body>
</html>
