{% load static %}
{% load custom_tags_and_filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {# This meta-tag forcefully disables 'compatibility mode' in Internet Explorer because it causes rendering problems. #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="UTF-8">
        {# jQuery #}
        <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
        {# Bootstrap #}
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" />
        {# NEMO #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <script type="text/javascript" src="{% static "nemo.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "nemo.css" %}" />
        <title>Jumbotron</title>
        <style>
			{# Style for autofit #}

			.table-wrapper-autofit
			{
				overflow: hidden;
			}

			.table-wrapper-autofit table.table-autofit th
			{
				position: sticky;
				top: 0;
				z-index: 11;
				opacity: 1 !important;
				border: 1px solid transparent;
			}

			.table-wrapper-autofit table.table-autofit td
            {
				border: 1px solid transparent;
			}

			.table-wrapper-autofit table.table-autofit tbody
			{
				overflow: hidden;
			}

			.table-wrapper-autofit .panel, .table-wrapper-autofit .table.table-autofit
			{
				margin-bottom: 0;
			}
        </style>
    </head>
    <body class="jumbotron-body"
          style="{% if watermark %}background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('{{ MEDIA_URL }}jumbotron_watermark.png'){% endif %}">
        <div id="jumbotron-container" style="min-height: calc(100vh - 61px); padding:10px 30px 0 30px">
            <div class="container-fluid" style="background:transparent">
                <div class="row" id="content" style="background:transparent"></div>
                <div class="row" id="offline-message" style="display:none">
                    <div class="col-lg-12" style="text-align:center">
                        <span style="font-size:250px; color:red">{{ site_title }} is offline</span>
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
        <script>
		function resize_table_to_fit()
		{
            {# No need to do all that if we are not on a large screen, since the items will stack vertically #}
            const break_point_lg = 1200;
            if (window.innerWidth < break_point_lg)
            {
                return;
			}

			$.each($(".table-wrapper-autofit"), function (index, wrapper_element)
			{
                const autoscroll_id = "autoscroll-" + index;

				if (!wrapper_element) return;

				const rect = wrapper_element.getBoundingClientRect();
				const top = rect.top; // distance from top of viewport
				const viewport_height = window.innerHeight;

				// Leave a margin at bottom (70px here)
				const available = viewport_height - top - 70;
                const content_height = wrapper_element.scrollHeight

                let table_element = $(wrapper_element).find("table");
                if (!table_element) return;

				if (available < content_height)
				{
                    table_element.addClass(`table-autofit table-autofit-${index}`);

                    {# Remove old keyframes before adding new ones #}
                    const oldStyle = document.getElementById(autoscroll_id + "-keyframes");
  					if (oldStyle) oldStyle.remove();

                    const overflow = content_height - available - 6; // overflow we need to display
                    const animation_speed = 15; // px per seconds
					const duration = overflow / animation_speed;

                    {# Create new keyframes and add them via class #}
                    const style = document.createElement("style");
    				style.id = autoscroll_id + "-keyframes";
    				style.innerHTML = `
      					@keyframes ${autoscroll_id}
      					{
        					0%, 35%   { transform: translateY(0); }
        					65%, 100% { transform: translateY(-${overflow}px); }
      					}

      					.table-autofit-${index} tbody
      					{
      						animation: ${autoscroll_id} ${duration}s linear infinite;
      					}
    				`;
    				document.head.appendChild(style);
				}
				else
				{
					table_element.removeClass(`table-autofit table-autofit-${index}`);
				}

				wrapper_element.style.maxHeight = available + 'px';
			});
		}

		function on_complete(response, status)
		{
			if (status === "success")
			{
				$("#offline-message").hide();
				$("#content").show();
			}
			if (status === "error")
			{
				$("#content").hide();
				$("#offline-message").show();
			}
            resize_table_to_fit();
		}
		function refresh_jumbotron()
		{
			$("#content").load("{% url 'jumbotron_content' %}"+window.location.search, undefined, on_complete);
		}
		function on_load()
		{
			refresh_jumbotron();
			set_interval_when_visible(document, refresh_jumbotron, 10000);
			window.addEventListener('resize', resize_table_to_fit);
		}
		$(on_load);
	
        </script>
    </body>
</html>
