{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% load static %}
{% block title %}
    {% if form.instance.id %}
        Modify staff assistance request
    {% else %}
        New staff assistance request
    {% endif %}
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
    <h1 class="form-group">
        {% if form.instance.id %}
            Modify staff assistance request
        {% else %}
            New staff assistance request
        {% endif %}
    </h1>
    <form class="well"
          action="{% if form.instance.id %}{% url 'edit_staff_assistance_request' form.instance.id %}{% else %}{% url 'create_staff_assistance_request' %}{% endif %}"
          method="post">
        {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="description">Description</label>
            {% if form.description.errors %}- <span style="color:red">{{ form.description.errors|striptags }}</span>{% endif %}
            <textarea class="form-control"
                      rows="3"
                      name="description"
                      id="description"
                      maxlength="{{ form.fields.description.max_length }}"
                      placeholder="Describe your request"
                      required>{{ form.description.value|default_if_none:"" }}</textarea>
        </div>
        <div class="text-right">
            {% button type="save" value=form.instance.id|yesno:"Save changes,Create staff assistance request" %}
        </div>
    </form>
{% endblock %}
