{% load custom_tags_and_filters %}
{% if user.is_staff %}
    {% navigation_url 'abuse' 'Abuse' %}
    {% navigation_url 'accounts_and_projects' 'Accounts and projects' %}
    {% navigation_url 'alerts' 'Alerts' %}
    {% if user.is_superuser %}{% navigation_url 'api-root' 'API' %}{% endif %}
    {% if areas_exist %}{% navigation_url 'area_access' 'Area access' %}{% endif %}
    {% if tools_exist %}{% navigation_url 'configuration_agenda' 'Configuration agenda' %}{% endif %}
    {% if user.is_superuser %}{% navigation_url 'customization' 'Customization' %}{% endif %}
    {% navigation_url 'admin:index' 'Detailed administration' %}
    {% navigation_url 'email_broadcast' 'Email' %}
    {% if user.is_superuser %}{% navigation_url 'impersonate' 'Impersonate' %}{% endif %}
    {% if tools_exist %}{% navigation_url 'maintenance' 'Maintenance' %}{% endif %}
    {% navigation_url 'project_billing' 'Project billing' %}
    {% if tools_exist %}{% navigation_url 'qualifications' 'Qualifications' %}{% endif %}
    {% navigation_url 'recurring_charges' recurring_charges_name %}
    {% navigation_url 'remote_work' 'Remote work' %}
    {% navigation_url 'resources' 'Resources' %}
    {% navigation_url 'sensors' 'Sensor data' %}
    {% navigation_url 'staff_charges' 'Staff charges' %}
    {% navigation_url 'consumables' 'Supplies' %}
    {% if tools_exist %}{% navigation_url 'training' 'Training' %}{% endif %}
    {% navigation_url 'users' 'Users' %}
{% else %}
    {% if user.is_project_pi %}
        {% navigation_url 'projects' 'Projects' %}
    {% endif %}
    {% if user.is_tool_superuser %}
        {% if tools_exist %}{% navigation_url 'training' 'Training' %}{% endif %}
    {% endif %}
{% endif %}