<li><a href="{% url 'calendar' %}">Calendar</a></li>
{% if tools_exist %}<li><a href="{% url 'tool_control' %}">Tool control</a></li>{% endif %}
{% if tools_exist or areas_exist %}
    {% if areas_exist %}
        <li><a href="{% url 'status_dashboard' %}">Status dashboard</a></li>
    {% else %}
        <li><a href="{% url 'status_dashboard_tab' 'tools' %}">Status dashboard</a></li>
    {% endif %}
{% endif %}
{% if buddy_system_areas_exist or access_user_request_allowed_exist and facility_managers_exist %}
    <li><a href="{% url 'user_requests' %}">
        Requests
        {% if buddy_notification_count or temporary_access_notification_count %}
            <span class="badge" style="vertical-align:middle; background-color:red">{{ buddy_notification_count|add:temporary_access_notification_count }}</span>
        {% endif %}
    </a></li>
{% endif %}
{% if safety_menu_item %}
    <li><a href="{% url 'safety' %}">
        Safety
        {% if safety_notification_count %}
            <span class="badge" style="vertical-align:middle; background-color:red">{{ safety_notification_count }}</span>
        {% endif %}
    </a></li>
{% endif %}