{% extends 'base.html' %}
{% load static %}
{% load custom_tags_and_filters %}
{% block title %}{{ item }} calendar{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{% static "pickadate/picker.js" %}"></script>
    <script type="text/javascript" src="{% static "pickadate/picker.date.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "pickadate/default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "pickadate/default.date.css" %}" />
{% endblock %}
{% block content %}
    <div class="row" style="font-size:1.7em; margin-bottom:20px">
        <div class="col-xs-2">
            <a href="{% url 'view_calendar' item_type item.id %}{{ previous_day|date:"Y-m-d" }}/"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="col-xs-8" style="text-align:center">
            {{ item }}
            {% include 'snippets/item_status_icons.html' with icon_size='large' %}
            <br>
            <a id="jump_to_date_link" href="javascript:void(0)" style="color:inherit; text-decoration:underline dotted; display:block">
                {{ current_day|date:"l" }}
                <br>
                {{ current_day|date:"F jS" }}
            </a>
            <input type="text" id="jump_to_date" style="position:absolute; opacity:0; height:0; width:0; padding:0; border:0" aria-label="Jump to date">
        </div>
        <div class="col-xs-2">
            <a href="{% url 'view_calendar' item_type item.id %}{{ next_day|date:"Y-m-d" }}/"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    {% for event in events %}
        {% if event|class_name == "Reservation" %}
            {% include 'mobile/individual_reservation.html' with reservation=event %}
        {% elif event|class_name == "ScheduledOutage" %}
            {% include 'mobile/individual_outage.html' with outage=event %}
        {% endif %}
    {% empty %}
        <div style="text-align:center">There are no reservations</div>
    {% endfor %}
    <a href="{% url 'new_reservation' item_type item.id current_day_string %}">
        <svg height="50" width="50" style="position:fixed; right:15px; bottom:15px">
            <circle cx="25" cy="25" r="25" fill="green"></circle>
            <rect x="24" y="15" width="3" height="20" fill="white"></rect>
            <rect x="15" y="24" width="21" height="3" fill="white"></rect>
        </svg>
    </a>
    {% if item_type == 'tool' %}
        <a href="{% url 'tool_control' item_type item.id %}">
            <svg height="50" width="100" style="position:fixed; left:15px; bottom:15px">
                <circle cx="25" cy="25" r="25" fill="blue"></circle>
                <text x="25" y="26" fill="white" font-size="12" font-family="Arial" text-anchor="middle" alignment-baseline="middle">
                Control
                </text>
            </svg>
        </a>
    {% endif %}
    <script>
        window.addEventListener('load', function () {
            let jump_to_date_picker = $('#jump_to_date').pickadate({
                format: "{{ pickadate_date_format }}",
                formatSubmit: "yyyy-mm-dd",
                firstDay: 1,
                container: 'body',
                onSet: function (thing) {
                    if (thing.select) {
                        let picker = jump_to_date_picker.pickadate('picker');
                        let selected_date = picker.get('select', 'yyyy-mm-dd');
                        window.location.href = "{% url 'view_calendar' item_type item.id %}" + selected_date + "/";
                    }
                }
            });
            jump_to_date_picker.pickadate('picker').set('select', '{{ current_day.date|input_date_format }}', {format: '{{ pickadate_date_format }}', muted: true});
            $('#jump_to_date_link').on('click', function (e) {
                e.stopPropagation();
                jump_to_date_picker.pickadate('picker').open();
            });
        });
    </script>
{% endblock %}
