{% extends popup_view|yesno:"base/popup.html,base.html" %}
{% load custom_tags_and_filters %}
{% block title %}Scheduled outage details{% endblock %}
{% block content %}
    {% if not popup_view %}
        <h1>Scheduled outage details</h1>
    {% endif %}
    Title: {{ outage.title }}<br>
    Created by: {{ outage.creator }}<br>
    {% if outage.tool %}Tool: {{ outage.tool }}<br>{% endif %}
    {% if outage.resource %}Resource: {{ outage.resource }} <span class="light-grey">({{ outage.resource.category }})</span><br>{% endif %}
    {% if outage.category %}Outage category: {{ outage.category }}<br>{% endif %}
    Start: {{ outage.start }}<br>
    End: {{ outage.end }}<br>
    Identifier: {{ outage.id }}<br>
    {% if outage.details %}
        Details:<br>
        {{ outage.details|linebreaksbr }}
    {% endif %}

    {# Allow the user to cancel the outage if they have that priviledge. only in popup view #}
    {% if user.is_staff and popup_view %}
        <div class="modal-footer" style="padding: 15px 0 0 0;">
            {% url 'cancel_outage' outage.id as cancel_outage_url %}
            {% button type="delete" value="Cancel this outage" dismiss="modal" onclick="$('#dialog').one('hidden.bs.modal', function() { cancel_outage('"|concat:cancel_outage_url|concat:"', 'Outage "|concat:outage.id|concat:"'); });" %}
        </div>
    {% endif %}
{% endblock %}