<span class="step-links">
    {% if page.has_previous %}
        {# check if we need to call a js function or refresh the current page #}
        {% if page.paginator.js_callback %}
            <a href="javascript:{{ paginator.js_callback }}('o={{ paginator.order_by }}&p=1&pp={{ paginator.per_page }}')">&laquo; first</a>
            <a href="javascript:{{ paginator.js_callback }}('o={{ paginator.order_by }}&p={{ page.previous_page_number }}&pp={{ paginator.per_page }}')">previous</a>
        {% else %}
            <a href="?o={{ paginator.order_by }}&p=1&pp={{ paginator.per_page }}">&laquo; first</a>
            <a href="?o={{ paginator.order_by }}&p={{ page.previous_page_number }}&pp={{ paginator.per_page }}">previous</a>
        {% endif %}
    {% endif %}
    <span class="current">Page {{ page.number }} of {{ paginator.num_pages }}</span>
    {% if page.has_next %}
        {# check if we need to call a js function or refresh the current page #}
        {% if page.paginator.js_callback %}
            <a href="javascript:{{ paginator.js_callback }}('o={{ paginator.order_by }}&p={{ page.next_page_number }}&pp={{ paginator.per_page }}')">next</a>
            <a href="javascript:{{ paginator.js_callback }}('o={{ paginator.order_by }}&p={{ paginator.num_pages }}&pp={{ paginator.per_page }}')">last &raquo;</a>
        {% else %}
            <a href="?o={{ paginator.order_by }}&p={{ page.next_page_number }}&pp={{ paginator.per_page }}">next</a>
            <a href="?o={{ paginator.order_by }}&p={{ paginator.num_pages }}&pp={{ paginator.per_page }}">last &raquo;</a>
        {% endif %}
    {% endif %}
</span>
