label
{
	font-weight: normal !important;
}

.application-sidebar
{
	position: absolute;
	top: 47px;
	bottom: 0;
	left: 0;
	width: 300px;
	padding: 10px;
	overflow: auto;
}

.application-content
{
	position: absolute;
	top: 51px;
	bottom: 0;
	left: 300px;
	right: 0;
	padding-top: 15px;
	padding-left: 7px;
}

#calendar th
{
	font-weight: normal;
}

.sidebar-item
{
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px
}

#sidebar .glyphicon
{
	margin-top: 2px;
	margin-left: 4px;
}

/* Add left indents to each sub-list in the sidebar. */
#sidebar .nav-list
{
	margin-left: 10px;
	padding-right: 0;
}

#sidebar a
{
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
}

#sidebar li.area-category a, #sidebar li.tool-category a
{
	padding-left: 15px !important;
}

#sidebar #tool_tree a, #sidebar #area_tree a
{
	padding-left: 0;
}

#extra-links a
{
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#sidebar label
{
	width: 100%;
	margin: 0;
}

.item_tree div, #extra-links div
{
	width: 100%;
	cursor: pointer;
	font-weight: normal;
}

.item_tree div:hover
{
	background-color: #eeeeee;
}

#sidebar .selected
{
	background-color: #e7e7e7;
}

#sidebar .disabled
{
	opacity: .4;
}

#area_tree
{
	padding-top: 7px;
	border-top: 1px dotted slategray;
	margin-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px dotted slategray;
	margin-bottom: 7px;
}

.status-icon
{
	font-size: 1.5em;
	margin-right: 10px;
}

.notification-icon
{
	font-size: 2.5em;
	margin-right: 5px;
}

.small-icon
{
	margin-right: 5px;
}

.primary-highlight
{
	color: #428bca;
}

.success-highlight
{
	color: #22b14c;
}

.warning-highlight
{
	color: #f0ad4e;
}

.danger-highlight
{
	color: red;
}

.grey
{
	color: grey;
}

.light-grey
{
	color: lightgrey;
}

.hover-black:hover
{
	color: black;
}

.chevron
{
	color: lightgrey;
	padding-right: 10px;
}

.pointer
{
	cursor: pointer;
}

.italic
{
	font-style: italic;
}

.table-in-well *
{
	background-color: transparent !important;
}

.split-screen-left-panel
{
	position: absolute;
	top: 120px;
	bottom: 0;
	width: 50%;
	overflow-y: scroll;
}

.split-screen-right-panel
{
	position: absolute;
	top: 120px;
	bottom: 0;
	width: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
	left: 50%;
	padding-left: 12px;
	padding-right: 24px;
}

.datetimepicker-container
{
	display: inline-block;
	position: relative;
}

/* Overrides the styling of un-editable Full Calendar events. Makes the cursor
appear as a pointer (rather than text selector) when mousing over event text. */
.fc-title
{
	pointer-events: none;
}

/* Twitter typeahead styles */
.twitter-typeahead
{
	display: block !important;
}

/* The hint is the portion of text that comes after what you've typed to suggest word completion. */
.tt-hint
{
	color: #999999
}

/* This styles the dropdown menu of possible search results. */
.tt-dropdown-menu
{
	margin-top: 4px;
	padding: 4px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	max-height: 150px;
	overflow-y: auto;
}

/* Override Bootstrap's media and media-body CSS settings so that the
Twitter Typeahead autocomplete dropdown menu isn't chopped off. */
.media, .media-body
{
	overflow: visible;
	min-height: 35px;
}

/* The suggestion style encases the matching part of the query in each of the search results. */
/* Zero out some padding and margin properties. */
.tt-suggestion
{
	padding: 3px 20px;
	line-height: 20px;
	cursor: pointer;
}

.tt-suggestion p
{
	margin: 0;
}

/* The style of the search result that the mouse is hovering over. */
.tt-suggestion.tt-cursor
{
	color: #fff;
	background-color: #0097cf;
}

.page-footer {
	margin-top: 20px;
  	border-top: 1px solid #eee;
	line-height: 40px;
	text-align: center;
}

.body-container {
	/* 100 viewport - header (height+border+margin) - footer (height+border+margin) */
	min-height: calc(100vh - 71px - 61px);
}

.customization-separation {
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: -15px;
	border-top: 1px solid #ddd
}

.customization-content {
	margin-top: 10px;
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 12px;
}

.customization-input-file {
	color: transparent;
	display: inline-block !important;
	margin-right: -170px;
}

.navbar-preferences > a {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar-preferences > a > img {
	width: 19px;
	height: 19px;
}

/* Customization of time picker CSS */
.picker__list small {
    color: #999;
    float: right;
    line-height: 1.5;
}

.picker__list span {
	color: #999;
}

/* Customization of search result group item */
.list-group-item {
	margin-bottom: 5px;
}

.tool-status {
	margin-bottom: 30px;
}

.danger-status {
	margin-bottom: 30px;
}

.warning-status {
	margin-bottom: 30px;
}

.tool-comments, .tool-problems {
	margin-bottom: 30px;
}

.danger-status .media-heading, .danger-status .media-middle, .danger-status .media-bottom {
	display: block;
}

.warning-status .media-heading, .warning-status .media-middle, .warning-status .media-bottom  {
	display: block;
}

.tool-comments .media-heading, .tool-comments .media-middle, .tool-comments .media-bottom {
	display: block;
}

.tool-problems .media-heading, .tool-problems .media-middle, .tool-problems .media-bottom {
	display: block;
}

.danger-status .media-heading {
	font-weight: 600;
    line-height: 1.1;
	font-size: x-large;
}

.warning-status .media-heading {
	font-weight: 500;
    line-height: 1.1;
	font-size: large;
}

.danger-status .media-bottom, .warning-status .media-bottom, .tool-comments .media-bottom, .tool-problems .media-bottom {
	color: grey;
	font-style: italic;
}

.danger-status .media-middle {
	font-size: large;
}

.warning-status .media-bottom, .tool-comments .media-bottom, .tool-problems .media-bottom {
	font-size: small;
}

.tool-problems .media-heading {
	font-size: medium;
	font-weight: 500;
}

.tool-rates {
	margin-top: 5px;
}

.jumbotron-body {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#jumbotron-container .table-bordered td, #jumbotron-container .table-bordered th {
	background:rgba(255, 255, 255, 0.7)
}

.spinner-container {
	text-align: center;
	background-color: #ffffff;
	font-size: 70px;
	color: #bfbfbf;
}

.spinner-container .normal-right-spinner {
	top: calc(50% - 70px);
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}