{% if facility_occupants|length == 0 %}
	Nobody is in an access controlled {{ facility_name }} area.
{% else %}
	<p>
		Staff members are highlighted in <span class="success-highlight">green</span>.<br>
		Users with expired reservations are highlighted in <span class="danger-highlight">red</span>.
	</p>
	{% regroup facility_occupants|dictsort:"area.name" by area as area_occupants %}
	{% for area in area_occupants %}
		{% include 'occupancy/occupancy_content.html' with area=area.grouper occupants=area.list show_force_logout=True %}
	{% endfor %}
{% endif %}