{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="application-name" content="NanoFab Equipment Management and Operations (NEMO)">
	<meta name="author" content="Dylan Klomparens">
	<meta name="description" content="NEMO allows NanoFab users to make tool reservations, control access to tools in the NanoFab, and streamline logistics and communication">
	<meta name="keywords" content="NanoFab, logistics, operations, nano-technology, nano-fabrication, reservation, tool control, status">

	<title>NEMO - Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}"/>
</head>
<body>
	<div class="container">
		<div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px"><h1>Reset Password Link Sent</h1></div>
		<div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px">We have sent a password reset link to your email address ({{email}})</div>
	</div>
</body>
</html>