{% load custom_tags_and_filters %}
<h1>Welcome, {{ badge_user.first_name }}!</h1>
<h2>Please choose an area to log into.</h2>
{% for other_area in door.areas.all %}
	<p>
		<button type="button" class="btn btn-success btn-lg btn-block btn-extra-large" onclick="enter_area('{{ badge_user.badge_number }}', undefined, {{ other_area.id }})">
			{{ other_area.name }}
		</button>
	</p>
{% endfor %}
<p>
	<button type="button" class="btn btn-warning btn-lg btn-block btn-extra-large" onclick="revert_to_default_content()">
		Nevermind, don't log in (<span class="countdown">30</span>)
	</button>
</p>
<script>revert(30);</script>