{% load custom_tags_and_filters %}
{% if previous_area %}
    <h1>
        You've been automatically logged out of the {{ previous_area }}, and you're now logged in to the {{ area }}, {{ name }}.
    </h1>
{% else %}
    <h1>You're logged in to the {{ area }}, {{ customer.first_name }}.</h1>
{% endif %}
{% if door.interlock %}<h1>The door is open.</h1>{% endif %}
<h2>Access time is being charged to the project named {{ project }}.</h2>
{% if "NEMO.apps.kiosk"|app_installed and "application"|customization:"area_access_kiosk_option_login_success" == "enabled" %}
    <p>
        <a href="javascript:void(0)"
           role="button"
           class="btn btn-success btn-lg btn-block btn-extra-large"
           onclick="go_to_kiosk('{{ customer.badge_number }}')">Open the kiosk</a>
    </p>
{% endif %}
<script>revert(7);</script>
