{% extends 'base.html' %}
{% block title %}Resources{% endblock %}
{% block content %}
	<h1>Resources</h1>
	<p>
		Below is a list of resources, grouped by category. Resources in <span class="success-highlight">green</span> are currently
		available while resources in <span class="danger-highlight">red</span> are unavailable. Click on a resource to modify its
		availability and status message. When a resource is unavailable, users are blocked from using tools that fully depend on that
		resource.
	</p>
	{% for category in resource_categories %}
		<h3>{{ category }}</h3>
		<div id="resource_list">
			{% for resource in category.resource_set.all %}
				<a href="{% url 'modify_resource' resource.id %}" class="{% if resource.available %}success-highlight{% else %}danger-highlight{% endif %}">{{ resource }}</a>
				{% if not resource.available %}
					- {{ resource.restriction_message }}
				{% endif %}
				<br>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}