label
{
    text-transform:capitalize
}

.dynamic_form_preview label
{
    text-transform: none;
}

.dynamic_form_preview
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid lightgray;
    width: max-content;
    padding: 20px 30px;
}

div.dynamic_form_preview:empty
{
    display: none;
}

.dynamic_form_preview_help
{
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.dynamic_form_preview *
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dynamic_form_preview .form-group
{
    margin-bottom: 15px;
}

.dynamic_form_preview .form-group label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    width: initial;
    color: #333;
    float: none;
    padding: 0;
    font-size: 14px;
    line-height: inherit;
}

.dynamic_form_preview .form-group label:after
{
    height: initial !important;
}

.dynamic_form_preview .form-group .input-group
{
    position: relative;
    display: table;
    border-collapse: separate;
}

.dynamic_form_preview .form-group .input-group .input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.dynamic_form_preview .form-group .input-group .input-group-addon:last-child
{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dynamic_form_preview .form-group .form-control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dynamic_form_preview .form-group .input-group .form-control
{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.dynamic_form_preview .form-group .input-group .form-control:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dynamic_form_preview .form-group .radio, .dynamic_form_preview .form-group .checkbox
{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dynamic_form_preview .form-group .radio label, .dynamic_form_preview .form-group .checkbox label
{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.dynamic_form_preview .form-group .radio input[type="radio"], .dynamic_form_preview .form-group .radio-inline input[type="radio"], .dynamic_form_preview .form-group .checkbox input[type="checkbox"], .dynamic_form_preview .form-group .checkbox-inline input[type="checkbox"]
{
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}

.dynamic_form_preview .form-group input[type="radio"], .dynamic_form_preview .form-group input[type="checkbox"]
{
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.dynamic_form_preview .form-group input[type="checkbox"], .dynamic_form_preview .form-group input[type="radio"]
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.form_validity
{
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    color: inherit;
    background-color: #5cb85c;
}

.form_validity.invalid
{
    color: whitesmoke;
    background-color: #ac2925;
}

.dynamic_form_preview input:invalid, .dynamic_form_preview select:invalid, .dynamic_form_preview textarea:invalid
{
    border-color: #dc3545!important;
    border-width: 2px!important;
	background: #ffebeb!important;
}

.dynamic_form_preview input:invalid::placeholder
{
    color: #505050!important;
}

.dynamic_form_preview button
{
    border-image-width: 1;
    border-width: 1px;
}

.required-question-star
{
    color:red;
    font-size: 20px;
    font-weight: bold;
    line-height: .75;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9
{
    float: left;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before
{
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after
{
    clear: both;
}

.row
{
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px)
{
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
  {
    float: left;
  }
  .col-md-12
  {
    width: 100%;
  }
  .col-md-11
  {
    width: 91.66666667%;
  }
  .col-md-10
  {
    width: 83.33333333%;
  }
  .col-md-9
  {
    width: 75%;
  }
  .col-md-8
  {
    width: 66.66666667%;
  }
  .col-md-7
  {
    width: 58.33333333%;
  }
  .col-md-6
  {
    width: 50%;
  }
  .col-md-5
  {
    width: 41.66666667%;
  }
  .col-md-4
  {
    width: 33.33333333%;
  }
  .col-md-3
  {
    width: 25%;
  }
  .col-md-2
  {
    width: 16.66666667%;
  }
  .col-md-1
  {
    width: 8.33333333%;
  }
  .col-md-offset-12
  {
    margin-left: 100%;
  }
  .col-md-offset-11
  {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10
  {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9
  {
    margin-left: 75%;
  }
  .col-md-offset-8
  {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7
  {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6
  {
    margin-left: 50%;
  }
  .col-md-offset-5
  {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4
  {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3
  {
    margin-left: 25%;
  }
  .col-md-offset-2
  {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1
  {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0
  {
    margin-left: 0;
  }
}