{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block content %}
    <div class="clearfix" style="margin-top: 0;margin-bottom: 15px">
        <ul class="nav nav-pills nav-pills-spacer" id="tabs" style="display: inline-block;float: right;">
            <li class="{% block staff_charges_tab_class %}{% endblock %}">
                <a href="#remote_work_tab" onclick="location.href = '{% url "staff_charges" %}'">Staff charges</a>
            </li>
            <li class="{% block remote_work_tab_class %}{% endblock %}">
                <a href="#remote_work_tab" onclick="location.href = '{% url "remote_work" %}'">Previous work</a>
            </li>
        </ul>
        <h1 class="pull-left" style="margin-top: 0;margin-right: 20px">{% block remote_work_title %}Staff charges{% endblock %}</h1>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="remote_work_tab">
             {% block tab_content %}{% endblock %}
        </div>
    </div>
    <script>
        $("#tabs").find("a").click(switch_tab);
    </script>
{% endblock %}