{% extends 'users/users.html' %}
{% load custom_tags_and_filters %}
{% load mptt_tags %}
{% block title %}{{ user.get_name }}{% endblock %}
{% block before_pagination %}{{ block.super }}{% endblock %}
{% block table_empty_content %}
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top: 0; margin-bottom: 0">
                        {{ user_profile.get_name }}
                        {% if user.is_facility_manager or user.is_user_office or user.is_superuser %}
                            <span style="float: right">
                                {% url 'create_or_modify_user' user_profile.id as edit_url %}
                                {% button value="Edit user" type="edit" url=edit_url %}
                                {% url "deactivate_user" user_profile.id as deactivate_user_url %}
                                {% if user_profile.is_active %}
                                    {% button type="warn" icon="glyphicon-ban-circle" value="Deactivate user" title="Deactivate user" url=deactivate_user_url %}
                                {% endif %}
                            </span>
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    {% include 'users/user_information.html' %}
{% endblock %}
