<div class="row" style="margin-top:30px">
	<div class="col-xs-offset-3 col-xs-6" onclick="revert()">
		<div class="alert alert-warning" style="text-align:center; margin-bottom:0">
			<span style="font-size:x-large">I've finished using this kiosk</span>
		</div>
	</div>
</div>

{% if usage_events %}
	<h1>Current NanoFab usage</h1>
	<div class="row">
		{% for u in usage_events %}
			<div class="col-xs-6">
				<div class="alert alert-info" onclick="tool_information('{% url 'kiosk_tool_information' u.tool.id customer.id 'back_to_start' %}')">
					<span style="font-size:x-large">{{ u.tool }}</span><br>
					You are using this tool for the project named <strong>{{ u.project }}</strong> since <strong>{{ u.start|date:"l @ g:i A" }}</strong>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}

<h1>Find a tool by category</h1>
<div class="row">
	{% for category in categories %}
		<div class="col-xs-6">
			<div class="panel panel-default" onclick="view_category('{% url 'kiosk_category_choices' category customer.id %}')">
				<div class="panel-body">
					<span style="font-size:x-large; margin-right:10px">{{ category }}</span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% if upcoming_reservations %}
	<h1>Upcoming Reservations</h1>
	<div class="reservation-group">
		<div class="row">
			{% for reservation in upcoming_reservations %}
				<div class="col-xs-4" style="vertical-align: top;width: 30%">
					{% include 'kiosk/individual_reservation.html' with reservation=reservation customer=customer %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}

<script>revert(75);</script>