{% extends 'pagination/pagination_base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Accounts and projects{% endblock %}
{% block before_pagination %}
	<div class="h1 row">
        <div class="col-xs-6 col-sm-7">Accounts and projects</div>
		<div class="col-sm-5 text-right">
            {% button type="add" value="New project" url="create_project" %}
            {% button type="add" value="New account" url="create_account" %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5" id="search_container">
			<input id="search" type="text" aria-label="Search for account or project" placeholder="Search for an account or project" class="form-control" autofocus>
		</div>
	</div>
{% endblock %}
{% block pagination_content %}
	<table class="table table-bordered table-condensed table-hover table-align-middle thead-light">
			<thead>
				<tr>
					<th>{% include 'pagination/pagination_column.html' with order_by='name' name='Name' %}</th>
					<th>Project Identifier</th>
					<th class="button-column-minimum">{% include 'pagination/pagination_column.html' with order_by='active' name='Active' %}</th>
					<th class="button-column-minimum"></th>
				</tr>
			</thead>
			<tbody>
				{% for account in page %}
					<tr style="background-color: #f9f9f9">
						<td id="chevron_{{ account.id }}" data-toggle="collapse" data-target=".projects_{{ account.id }}" onclick="toggle_details($('#chevron_{{ account.id }}'))" style="font-weight: bold">
							<span class="glyphicon glyphicon-chevron-down pull-left chevron"></span>
							{{ account.name }}
						</td>
						<td data-toggle="collapse" data-target=".projects_{{ account.id }}" onclick="toggle_details($('#chevron_{{ account.id }}'))"></td>
						<td class="text-center">
							<form method="post" action="{% url 'toggle_active' 'account' account.id %}">
								{% csrf_token %}
								{% if account.active %}
                                    {% button type="save" size="small" title="Deactivate" icon="glyphicon-ok" value="" %}
								{% else %}
                                    {% button type="delete" submit=True size="small" title="Reactivate" icon="glyphicon-remove" value="" %}
								{% endif %}
							</form>
						</td>
						<td>
                            {% url "account" account.id as account_url %}
                            {% button type="view" size="small" value="View" title="View account" url=account_url %}
						</td>
					</tr>
					{% for project in account.project_set.all %}
						<tr class="collapse in projects_{{ account.id }}">
							<td style="padding-left: 28px">{{ project.name }}</td>
							<td>{{ project.application_identifier }}</td>
							<td class="text-center">
								<form style="display:inline" method="post" action="{% url 'toggle_active' 'project' project.id %}">
									{% csrf_token %}
									{% if project.active %}
                                        {% button type="save" size="small" title="Deactivate" icon="glyphicon-ok" value="" %}
									{% else %}
										{% button type="delete" submit=True size="small" title="Reactivate" icon="glyphicon-remove" value="" %}
									{% endif %}
								</form>
							</td>
							<td>
                                {% url "project" project.id as project_url %}
                                {% button type="view" size="small" value="View" title="View project" url=project_url %}
							</td>
						</tr>
					{% empty %}
						<tr class="collapse in projects_{{ account.id }}">
							<td colspan="4" style="padding-left: 28px">
								<span class="grey">This account does not have any projects</span>
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
{% block after_pagination %}
	<script>
		function get_account(jquery_event, search_selection, dataset_name)
		{
			if(search_selection.type === 'project')
				window.location.href = "{% url 'project' 999 %}".replace('999', search_selection.id);
			else if(search_selection.type === 'account')
				window.location.href = "{% url 'account' 999 %}".replace('999', search_selection.id);
		}
		function on_load()
		{
			$('#search').autocomplete('accounts_and_projects', get_account, {% json_search_base_with_extra_fields accounts_and_projects 'application_identifier' %});
		}
		window.addEventListener('load', on_load, true);
	</script>
	<style>
		#search_container .tt-dropdown-menu
		{
			min-width: 400px;
			max-height: 600px;
		}
	</style>
{% endblock %}