{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% load static %}
{% block title %}New account{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
    <h1>New account</h1>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            Oops! Something went wrong. The project was not created because:
            <br>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form method="post" action="{% url 'create_account' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">
                <b>Name</b>
            </label>
            <div class="col-sm-4">
                <input type="text"
                       id="name"
                       name="name"
                       placeholder="Name"
                       maxlength="100"
                       class="form-control"
                       value="{{ form.name.value|default_if_none:'' }}"
                       autofocus
                       required>
            </div>
            <div class="col-sm-6 form-control-static danger-highlight">{{ form.name.errors|striptags }}</div>
        </div>
        {% if form.fields.type.choices.queryset %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="type">Type</label>
                <div class="col-sm-4">
                    <select id="type" name="type" class="form-control">
                        {% for t in form.fields.type.choices %}
                            <option value="{{ t.0 }}" {% if t.0 == form.type.value|to_int %}selected{% endif %}>{{ t.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="start_date" class="control-label col-sm-2">Start date</label>
            <div class="col-sm-4">
                <input type="text"
                       id="start_date"
                       name="start_date"
                       class="form-control"
                       placeholder="Choose a date"
                       value="{{ form.start_date.value|input_date_format }}">
            </div>
            <div class="col-sm-6 form-control-static danger-highlight">{{ form.start_date.errors|striptags }}</div>
        </div>
        <div class="form-group">
            <label for="note" class="control-label col-sm-2">Note</label>
            <div class="col-sm-4">
                <textarea id="note" name="note" class="form-control" oninput="auto_size_textarea(this)">{{ form.note.value|default_if_none:"" }}</textarea>
            </div>
            <div class="col-sm-6 form-control-static danger-highlight">{{ form.note.errors|striptags }}</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="manager_search">Managers</label>
            <div class="col-sm-4">
                <input id="manager_search"
                       type="text"
                       autocomplete="off"
                       class="form-control"
                       placeholder="Add an account manager">
            </div>
        </div>
        <div class="form-group">
            <div id="manager-list" class="col-sm-offset-2 col-sm-4">This account has no managers.</div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="active" {% if form.active.value %}checked{% endif %}>
                        Active
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">{% button type="save" value="Create new account" %}</div>
        </div>
    </form>
    <script>
    function select_manager(jquery_event, search_selection, dataset_name)
    {
        add_to_list("#manager-list", "remove_manager", search_selection.id, search_selection.name, "remove " + search_selection.name + " as account manager", "managers");
        $("#manager_search").typeahead('val', '');
    }
    function remove_manager(id)
    {
        remove_from_list("#manager-list", "#managers_" + id, "This project has no managers.")
    }

    window.addEventListener("load", function ()
    {
        $('#start_date').datetimepicker({format: '{{ date_input_js_format }}'});
        $('#manager_search').autocomplete('managers', select_manager, {{ form.fields.managers.queryset.all|json_search_base }});
        {% for manager_id in form.managers.value %}
            {% for user in form.fields.managers.queryset.all %}
                {% if user.id == manager_id|to_int %}select_manager(null, {"id": "{{ user.id }}", "name": "{{ user }}"});{% endif %}
            {% endfor %}
        {% endfor %}
    });
    </script>
{% endblock %}
