{% load humanize %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Are you done using this tool?</h4>
</div>

<div class="modal-body">
	<p>Your reservation for this tool will end {{ reservation.end|naturaltime }}.
	The remainder of your reservation will be relinquished when you stop using this tool.</p>

	{% if downtime > 0 %}
		<p>You have also elected to delay your logoff until {{ downtime|floatformat:"0" }} minutes from now.</p>
	{% endif %}

	<p>What would you like to do?</p>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Keep using the tool</button><br><div style="height:10px"></div>
	<button type="button" class="btn btn-success" data-dismiss="modal" style="white-space:normal" onclick="$('#dialog').one('hidden.bs.modal', function() { disable_tool('{% url 'disable_tool' tool.id %}', true, {{ downtime }}) })">Stop using the tool and relinquish my remaining reservation time</button>
</div>