{% load custom_tags_and_filters %}
{% if "requests"|customization:"adjustment_requests_enabled" %}
    {% with content_type=charge|content_type %}
        {% url 'create_adjustment_request' content_type.id charge.id as create_adjustment_request %}
        {% if not existing_adjustments or content_type.id not in existing_adjustments or charge.id not in existing_adjustments|get_item:content_type.id %}
            <span class="usage-charge-adjustment-button">
                {% button size="small" type="warn" url=create_adjustment_request value="Request an adjustment" icon="glyphicon-flag" %}
            </span>
        {% else %}
            <span class="usage-charge-adjustment-button" title="An adjustment request already exists for this charge">
                {% button size="small" type="warn" url=create_adjustment_request value="Request an adjustment" icon="glyphicon-flag" disabled="true" %}
            </span>
        {% endif %}
    {% endwith %}
{% endif %}