<div style="margin-top:10px">
	<ul class="nav nav-pills" id="tabs">
		<li {% if not billing_active_by_default %}class="active"{% endif %}><a href="#usage">Usage</a></li>
		<li {% if billing_active_by_default %}class="active"{% endif %}><a href="#billing_information">Billing information</a></li>
	</ul>
</div>

<div id="content" class="tab-content">
	<div class="tab-pane {% if not billing_active_by_default %}active{% endif %}" id="usage">
		<br/>
		<p>
			Adjustment activities <b>are not included</b> in the usage information.
		</p>
		{% if no_charges %}
			<h3>There was no usage between {{ start_date|date:"F jS, Y" }} and {{ end_date|date:"F jS, Y" }}.</h3>
		{% endif %}
		{% if missed_reservations %}
			<h3>Missed reservations</h3>
			{% for m in missed_reservations %}
				<div class="alert alert-danger">
					<span style="font-weight:bold">{{ m.tool }}</span><br>
					{{ m.start }}<br>
					Charged to project {{ m.project }}
				</div>
			{% endfor %}
		{% endif %}
		{% if consumables %}
			<h3>Supplies and consumables</h3>
			{% for c in consumables %}
				<div class="alert alert-info">
					<span style="font-weight:bold">{{ c.consumable }}</span><br>
					Quantity {{ c.quantity }}<br>
					Purchased from {{ c.merchant }} on {{ c.date }}<br>
					Charged to project {{ c.project }}
				</div>
			{% endfor %}
		{% endif %}
		{% if staff_charges %}
			<h3>Staff charges</h3>
			{% for s in staff_charges %}
				<div class="alert alert-info">
					<span style="font-weight:bold">Work performed by {{ s.staff_member }}</span><br>
					{{ s.start }}<br>
					{{ s.end }}<br>
					Charged to project {{ s.project }}
				</div>
			{% endfor %}
		{% endif %}
		{% if training_sessions %}
			<h3>Training sessions</h3>
			{% for t in training_sessions %}
				<div class="alert alert-info">
					{{ t.get_type_display }} training for {{ t.duration }} minutes taught by <span style="font-weight:bold">{{ t.trainer }}</span>
					for the <span style="font-weight:bold">{{ t.tool }}</span>. Charged to project {{ t.project }} on {{ t.date }}.
				</div>
			{% endfor %}
		{% endif %}
		{% if area_access %}
			<h3>Area access</h3>
			{% for a in area_access %}
				<div class="alert alert-info">
					<span style="font-weight:bold">{{ a.area }}</span><br>
					{{ a.start }}<br>
					{{ a.end|default_if_none:"In progress" }}<br>
					Charged to project {{ a.project }}
				</div>
			{% endfor %}
		{% endif %}
		{% if usage_events %}
			<h3>Tool usage</h3>
			{% for u in usage_events %}
				<div class="alert {% if u.user == u.operator %}alert-info{% else %}alert-warning{% endif %}">
					<span style="font-weight:bold">{{ u.tool }}</span><br>
					{% if u.user != u.operator %}<span style="font-weight:bold">Operated by {{ u.operator }} on your behalf</span><br>{% endif %}
					{{ u.start }}<br>
					{{ u.end }}<br>
					Charged to project {{ u.project }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="tab-pane {% if billing_active_by_default %}active{% endif %}" id="billing_information">
		<br>
		<p>
			Approved adjustments <b>are included</b> in the billing information.
		</p>
		<div id="billing_information_response">
			Loading billing information...
		</div>
	</div>
</div>

<script>
	$('#start_date').pickadate({format: "mm/dd/yyyy", formatSubmit: "yyyy-mm-dd", firstDay: 1, hiddenName: true, selectYears: true, selectMonths: true, closeOnSelect: true, onStart: set_start_date});
	$('#end_date').pickadate({format: "mm/dd/yyyy", formatSubmit: "yyyy-mm-dd", firstDay: 1, hiddenName: true, selectYears: true, selectMonths: true, closeOnSelect: true, onStart: set_end_date});
	function on_load()
	{
		$("#tabs a").click(switch_tab);
		{% if applications %}
			ajax_get('{% url 'project_billing_information' %}', {'start_date': '{{ start_date|date:"Y-m-d" }}', 'end_date': '{{ end_date|date:"Y-m-d" }}', 'applications': '{{ applications }}', 'project_id': '{{ project_id }}' }, display_billing_information, display_error_message);
		{% else %}
			ajax_get('{% url 'billing_information' %}', {'start_date': '{{ start_date|date:"Y-m-d" }}', 'end_date': '{{ end_date|date:"Y-m-d" }}' }, display_billing_information, display_error_message);
		{% endif %}
	}
	$(on_load);

	function display_billing_information(response, status, xml_http_request)
	{
		$('#billing_information_response').html(response);
	}
	function display_error_message()
	{
		$('#billing_information_response').html('There was a problem communicating with the billing service. The financial information associated with your usage cannot be displayed at this time.');
	}
	function set_start_date()
	{
		if('{{ start_date }}')
			this.set('select', '{{ start_date|date:"Y-m-d" }}', {format: 'yyyy-mm-dd'})
	}
	function set_end_date()
	{
		if('{{ end_date }}')
			this.set('select', '{{ end_date|date:"Y-m-d" }}', {format: 'yyyy-mm-dd'})
	}
</script>