<h1>Usage and billing information
	<small> between {{ start_date|date:"F jS, Y" }} and {{ end_date|date:"F jS, Y" }}</small>
</h1>
<p>
	This page presents a monthly report of your NanoFab usage and billing information. Approved adjustments are reflected in the Billing information data but not in the Usage data.
</p>
<form class="form-inline" role="form">
	<div class="form-group">
		<label class="control-label">View information for
			<select name="timeframe" class="form-control" style="margin-right: 5px;">
				<option {% if dates %}selected{% endif %}></option>
				{% for month in month_list %}
					<option {% if not dates and timeframe == month|date:"F, Y" %}selected{% endif %}>{{ month|date:"F, Y" }}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default" value="Update">
	</div>
</form>

<form class="form-inline" role="form" style="margin-top: 10px">
	<div class="form-group" style="margin-right: 5px;">
		<label class="control-label">Or use a custom date range</label>
		<input type="text" id="start_date" name="start_date" class="form-control select-date" placeholder="Choose a date">
	</div>
	<div class="form-group" style="margin-right: 5px;">
		<input type="text" id="end_date" name="end_date" class="form-control select-date" placeholder="Choose a date">
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default" value="Update">
	</div>
</form>