{% load custom_tags_and_filters %}
<div class="panel-body">
    <h3 class="customization-section-title">Remote work settings</h3>
    <form method="POST" action="{% url 'customize' 'remote_work' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-4">Remote work validation</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="remote_work_validation"
                               {% if remote_work_validation %}checked{% endif %}
                               value="enabled">
                        Allow staff member to validate previous remote work
                    </label>
                    <br />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Remote work area access time</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <input type="hidden" name="remote_work_start_area_access_automatically" value="off" />
                    <label>
                        <input type="checkbox"
                               name="remote_work_start_area_access_automatically"
                               {% if remote_work_start_area_access_automatically != "off" %}checked{% endif %}
                               value="">
                        Charge area access time automatically when starting a remote project
                    </label>
                    <br />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Work on behalf of another user</label>
            <div class="col-sm-8">
                <div class="radio">
                    <label>
                        <input type="radio"
                               name="remote_work_on_behalf_of_user"
                               {% if remote_work_on_behalf_of_user == "always" %}checked{% endif %}
                               value="always">
                        Staff on behalf of user is <b>always</b> considered remote
                    </label>
                    <br />
                    <label>
                        <input type="radio"
                               name="remote_work_on_behalf_of_user"
                               {% if remote_work_on_behalf_of_user == "never" %}checked{% endif %}
                               value="never">
                        Staff on behalf of user is <b>never</b> considered remote
                    </label>
                    <br />
                    <label>
                        <input type="radio"
                               name="remote_work_on_behalf_of_user"
                               {% if remote_work_on_behalf_of_user == "ask" %}checked{% endif %}
                               value="ask">
                        Ask explicitly
                    </label>
                    <br />
                </div>
            </div>
        </div>
        <div class="customization-separation" style="margin-bottom: 15px"></div>
        <div class="text-center">{% button type="save" value="Save settings" %}</div>
    </form>
</div>
