{% extends 'base.html' %}
{% block title %}Site customization{% endblock %}
{% block extrahead %}
    {% load static %}
    <script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
    <h1 style="margin-top: 0;">Customization</h1>
    <p>You can customize portions of {{ site_title }} to suit your organization's needs.</p>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="tabs">
                {% for customization_instance in customization.instances %}
                    {% if customization_instance.template %}
                        <li class="{% if customization_instance.key == customization.key %}active{% endif %}">
                            <a id="{{ customization_instance.key }}-tab-link"
                               href="{% url 'customization' customization_instance.key %}">{{ customization_instance.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content panel panel-default">
                <div class="tab-pane active" id="{{ customization.key }}-tab">{% include customization.template %}</div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        sort_elements(document.getElementById('tabs'), "> li");
		function check_delete_file_before_submit(name)
        {
			let has_file = $('input[name='+name+']')[0].files.length !== 0;
			if (!has_file)
            {
			    return confirm("Submitting without a new file will delete any previous content. \nAre you sure you want to continue?");
			}
            else
            {
			    return true;
			}
        }

        // Reads the newly selected file as text and shows it in the matching content textarea
        function load_file_into_textarea(file_input, textarea_id)
        {
            if (file_input.files && file_input.files.length > 0)
            {
                let reader = new FileReader();
                reader.onload = function(event)
                {
                    let textarea = document.getElementById(textarea_id);
                    if (textarea)
                    {
                        textarea.value = event.target.result;
                    }
                };
                reader.readAsText(file_input.files[0]);
            }
        }

        // If no new file was picked, saves whatever is currently in the content textarea instead
        // (so editing the textarea directly and clicking upload works without choosing a file first)
        function sync_textarea_before_submit(name, extension)
        {
            let file_input = $('input[name='+name+']')[0];
            let textarea = document.getElementById(name + '_content');
            if (file_input && textarea && file_input.files.length === 0)
            {
                let blob = new Blob([textarea.value], {type: 'text/plain'});
                let file = new File([blob], name + '.' + extension, {type: 'text/plain'});
                let data_transfer = new DataTransfer();
                data_transfer.items.add(file);
                file_input.files = data_transfer.files;
            }
            return true;
        }
    </script>
{% endblock %}
