{% load custom_tags_and_filters %}
<form method="POST" action="{% url 'customize' 'user' %}" class="form-horizontal">
    <div class="panel-body">
        <h3 class="customization-section-title">General</h3>
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-md-2" for="default_user_training_not_required">New user facility tutorial</label>
            <div class="col-md-4">
                <div class="radio">
                    <label><input type="radio" id="default_user_training_not_required" name="default_user_training_not_required" {% if not default_user_training_not_required %}checked{% endif %} value=""> Required</label>
                    <label><input type="radio" name="default_user_training_not_required" {% if default_user_training_not_required %}checked{% endif %} value="enabled"> Not required</label>
                </div>
            </div>
            <div class="col-md-6 help-block light-grey">
                Whether the facility rules tutorial is required for new users by default.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="user_list_active_only">User list</label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label><input type="checkbox" id="user_list_active_only" name="user_list_active_only" {% if user_list_active_only %}checked{% endif %} value="enabled"> Hide inactive</label>
                </div>
            </div>
            <div class="col-md-6 help-block light-grey">
                Check this box to only show active users in the user list.
            </div>
        </div>

        <div class="customization-separation"></div>
    </div>
    <div class="panel-body">
        <h3 class="customization-section-title">Access expiration reminder</h3>
		<div class="form-group {% if errors.user_access_expiration_reminder_days %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_access_expiration_reminder_days">Reminder days</label>
            <div class="col-md-4">
                <input type="text" id="user_access_expiration_reminder_days" name="user_access_expiration_reminder_days" class="form-control" value="{% if errors.user_access_expiration_reminder_days %}{{ errors.user_access_expiration_reminder_days.value }}{% else %}{{ user_access_expiration_reminder_days }}{% endif %}"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_access_expiration_reminder_days %}
                    {{ errors.user_access_expiration_reminder_days.error }}
                {% else %}
                    The number of days to send a reminder prior to the user's access expiration. A comma-separated list can be used for multiple reminders.
                    This setting and the <a href="{% url 'customization' 'templates' %}?#user_access_expiration_reminder_email_id">user access expiration reminder email</a> need to be set to enable this feature.
                {% endif %}
            </div>
        </div>
		<div class="form-group {% if errors.user_access_expiration_reminder_cc %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_access_expiration_reminder_cc">Reminder email CC</label>
            <div class="col-md-4">
                <input type="text" id="user_access_expiration_reminder_cc" name="user_access_expiration_reminder_cc" class="form-control" value="{% if errors.user_access_expiration_reminder_cc %}{{ errors.user_access_expiration_reminder_cc.value }}{% else %}{{ user_access_expiration_reminder_cc }}{% endif %}" placeholder="information@example.org"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_access_expiration_reminder_cc %}
                    {{ errors.user_access_expiration_reminder_cc.error }}
                {% else %}
                    Extra email address to copy when a user access expiration reminder is sent. A comma-separated list can be used.
                {% endif %}
            </div>
        </div>
        <div class="customization-separation"></div>
    </div>
    <div class="panel-body">
        <h3 class="customization-section-title">Tool qualification expiration</h3>
        <p>If active, this feature will remove tool qualification from a user if the user has not used the tool after a while or never used it since qualified (configured separately).
        <p>The <a href="{% url 'customization' 'templates' %}?#tool_qualification_expiration_email_id">user tool qualification expiration email</a> need to be set to enable this feature.</p><br/>
        <div class="form-group {% if errors.user_tool_qualification_reminder_days %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_tool_qualification_reminder_days">Reminder days</label>
            <div class="col-md-4">
                <input type="text" id="user_tool_qualification_reminder_days" name="user_tool_qualification_reminder_days" class="form-control" value="{% if errors.user_tool_qualification_reminder_days %}{{ errors.user_tool_qualification_reminder_days.value }}{% else %}{{ user_tool_qualification_reminder_days }}{% endif %}"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_tool_qualification_reminder_days %}
                    {{ errors.user_tool_qualification_reminder_days.error }}
                {% else %}
                    The (optional) number of days to send a reminder prior to the user's tool qualification expiration (below). A comma-separated list can be used for multiple reminders. This applies to both expiration cases.
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if errors.user_tool_qualification_expiration_days %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_tool_qualification_expiration_days">Expiration days<br>(previous tool usage)</label>
            <div class="col-md-4">
                <input type="number" step="1" id="user_tool_qualification_expiration_days" name="user_tool_qualification_expiration_days" class="form-control" value="{% if errors.user_tool_qualification_expiration_days %}{{ errors.user_tool_qualification_expiration_days.value }}{% else %}{{ user_tool_qualification_expiration_days }}{% endif %}"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_tool_qualification_expiration_days %}
                    {{ errors.user_tool_qualification_expiration_days.error }}
                {% else %}
                    The number of days before the user's tool qualification expires since the user last used the tool.
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if errors.user_tool_qualification_expiration_never_used_days %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_tool_qualification_expiration_never_used_days">Expiration days<br>(no tool usage)</label>
            <div class="col-md-4">
                <input type="number" step="1" id="user_tool_qualification_expiration_never_used_days" name="user_tool_qualification_expiration_never_used_days" class="form-control" value="{% if errors.user_tool_qualification_expiration_never_used_days %}{{ errors.user_tool_qualification_expiration_never_used_days.value }}{% else %}{{ user_tool_qualification_expiration_never_used_days }}{% endif %}"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_tool_qualification_expiration_never_used_days %}
                    {{ errors.user_tool_qualification_expiration_never_used_days.error }}
                {% else %}
                    The number of days before the user's tool qualification expires since the user qualified for the first time.
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if errors.user_tool_qualification_cc %}has-error{% endif %}">
            <label class="control-label col-md-2" for="user_tool_qualification_cc">Reminder/expiration CC</label>
            <div class="col-md-4">
                <input type="text" id="user_tool_qualification_cc" name="user_tool_qualification_cc" class="form-control" value="{% if errors.user_tool_qualification_cc %}{{ errors.user_tool_qualification_cc.value }}{% else %}{{ user_tool_qualification_cc }}{% endif %}" placeholder="information@example.org"/>
            </div>
            <div class="col-md-6 help-block light-grey">
                {% if errors.user_tool_qualification_cc %}
                    {{ errors.user_tool_qualification_cc.error }}
                {% else %}
                    Extra email address to copy when a user's tool qualification reminder/expiration email is sent. A comma-separated list can be used.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-offset-2">
            {% button type="save" value="Save settings" %}
        </div>
    </div>
</form>