{% extends 'base.html' %}
{% block title %}{{ requests_page_title }}{% endblock %}
{% block content %}
    <div class="clearfix" style="margin-top: 0;">
        <ul class="nav nav-pills nav-pills-spacer"
            id="tabs"
            style="display: inline-block;
                   float: right;
                   margin-bottom: 15px">
            {% if access_user_request_allowed_exist and facility_managers_exist %}
                <li class="{% if tab == 'access' %}active{% endif %}">
                    <a href="#access-requests" onclick="location.href = '{% url "user_requests" "access" %}'">{{ access_requests_title }}
                        {% if temporary_access_notification_count %}
                            <span class="badge badge-tab-top">{{ temporary_access_notification_count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if buddy_system_areas_exist %}
                <li class="{% if tab == 'buddy' %}active{% endif %}">
                    <a href="#buddy-requests" onclick="location.href = '{% url "user_requests" "buddy" %}'">{{ buddy_requests_title }}
                        {% if buddy_notification_count %}<span class="badge badge-tab-top">{{ buddy_notification_count }}</span>{% endif %}
                    </a>
                </li>
            {% endif %}
            {% if buddy_system_areas_exist %}
                <li class="{% if tab == 'staff_assistance' %}active{% endif %}">
                    <a href="#staff-assistance-requests" onclick="location.href = '{% url "user_requests" "staff_assistance" %}'">{{ staff_assistance_requests_title }}
                        {% if staff_assistance_notification_count %}<span class="badge badge-tab-top">{{ staff_assistance_notification_count }}</span>{% endif %}
                    </a>
                </li>
            {% endif %}
            {% if adjustment_request_allowed and facility_managers_exist %}
                <li class="{% if tab == 'adjustment' %}active{% endif %}">
                    <a href="#adjustment-requests" onclick="location.href = '{% url "user_requests" "adjustment" %}'">{{ adjustment_requests_title }}
                        {% if adjustment_notification_count %}
                            <span class="badge badge-tab-top">{{ adjustment_notification_count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
        <h1 class="pull-left" style="margin-top: 0;margin-right: 20px">
            {% if tab == 'access' %}
                {{ access_requests_title }}
            {% elif tab == 'buddy' %}
                {{ buddy_requests_title }}
            {% elif tab == 'adjustment' %}
                {{ adjustment_requests_title }}
            {% elif tab == 'staff_assistance' %}
                {{ staff_assistance_requests_title }}
            {% else %}
                Requests
            {% endif %}
        </h1>
    </div>
    <div class="tab-content">
        {% if access_user_request_allowed_exist and facility_managers_exist %}
            <div class="tab-pane{% if tab == 'access' %} active{% endif %}" id="access-requests">
                {# This will be loaded asynchronously #}
            </div>
        {% endif %}
        {% if buddy_system_areas_exist %}
            <div class="tab-pane{% if tab == 'buddy' %} active{% endif %}" id="buddy-requests">
                {# This will be loaded asynchronously #}
            </div>
        {% endif %}
        {% if adjustment_request_allowed and facility_managers_exist %}
            <div class="tab-pane{% if tab == 'adjustment' %} active{% endif %}" id="adjustment-requests">
                {# This will be loaded asynchronously #}
            </div>
        {% endif %}
        <div class="tab-pane{% if tab == 'staff_assistance' %} active{% endif %}" id="staff-assistance-requests">
            {# This will be loaded asynchronously #}
        </div>
    </div>
    <script>
        $("#tabs").find("a").click(switch_tab);

        function load_buddy_board()
        {
            let failure_dialog = ajax_complete_callback("Unable to load buddy requests", "There was a problem looking up buddy requests.");
            $("#buddy-requests").load("{% url 'buddy_requests' %}", undefined, failure_dialog);
        }
        function load_access_requests()
        {
            let failure_dialog = ajax_complete_callback("Unable to load access requests", "There was a problem loading access requests.");
            $("#access-requests").load("{% url 'access_requests' %}", undefined, failure_dialog);
        }
        function load_adjustment_requests()
        {
            let failure_dialog = ajax_complete_callback("Unable to load adjustment requests", "There was a problem loading adjustment requests.");
            $("#adjustment-requests").load("{% url 'adjustment_requests' %}", undefined, failure_dialog);
        }
        function load_staff_assistance_requests()
        {
            let failure_dialog = ajax_complete_callback("Unable to load staff assistance requests", "There was a problem looking up staff assistance requests.");
            $("#staff-assistance-requests").load("{% url 'staff_assistance_requests' %}", undefined, failure_dialog);
        }
        {% if tab == 'buddy' %}load_buddy_board();{% endif %}
        {% if tab == 'access' %}load_access_requests();{% endif %}
        {% if tab == 'adjustment' %}load_adjustment_requests();{% endif %}
    {% if tab == 'staff_assistance' %}load_staff_assistance_requests();{% endif %}
    </script>
{% endblock %}
