{% extends 'base.html' %}
{% load mptt_tags %}
{% block title %}Staff charges{% endblock %}
{% block content %}
	<h1>Staff charges</h1>
	<form action="{% url 'end_staff_charge' %}" class="form-horizontal" method="post">
		{% csrf_token %}
		<input type="submit" class="btn btn-primary" value="I have finished working on this project">
	</form>
	{% if areas %}
		<div style="height:50px"></div>
		<form action="{% url 'begin_staff_area_charge' %}" class="form-horizontal" method="post">
			{% csrf_token %}
			<p>I have entered a billable area on behalf of this user:</p>
			<ul class="root" style="padding-left: 15px;margin-top: 10px">
				{% recursetree areas %}
					<li {% if node.is_leaf_node %}style="list-style: none"{% endif %}>
						{% if node not in user_accessible_areas %}{{ node.name }}
						{% else %}
							<div class="radio">
								<label class="control-label" style="padding-left: 0"><input type="radio" name="area" value="{{ node.id }}" required> {% if node.category %}({{ node.category }}) {% endif %}{{ node.name }}</label><br>
							</div>
						{% endif %}
						{% if not node.is_leaf_node %}
							<ul class="children">
								{{ children }}
							</ul>
						{% endif %}
					</li>
				{% endrecursetree %}
			</ul>
			<br>
			<input type="submit" class="btn btn-primary" value="Begin billing for area access">
		</form>
	{% endif %}
{% endblock %}